<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.freshcart.product.infrastructure.OptionGroupMapper">
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into option_group (name, required_option, minimum_order_option, product_id)
    values (#{name}, #{requiredOption}, #{minimumOrderOption}, #{productId});
  </insert>
</mapper>