<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.freshcart.product.infrastructure.OptionMapper">

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into product_option (name, price, option_group_id)
    values (#{optionName}, #{price}, #{optionGroupId});
  </insert>

  <resultMap id="optionResultMap" type="com.example.freshcart.product.domain.Option">
    <result column="name" property="optionName"/>
    <result column="option_group_id" property="optionGroupId"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
  </resultMap>

  <select id="findById" resultMap="optionResultMap">
    select id, name, price, option_group_id, created_at, updated_at
    from product_option
    where id = #{productOptionId};
  </select>

</mapper>