<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.freshcart.user.infrastructure.UserMapper">

  <resultMap id="userResultMap" type="com.example.freshcart.user.domain.User">
    <result column="phone_number" property="phoneNumber"/>
  </resultMap>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into user (email, password, phone_number, name, role)
    values (#{email}, #{password}, #{phoneNumber}, #{name}, #{role});
  </insert>

  <select id="findByUserEmail" resultMap="userResultMap">
    select id, email, password, phone_number, name, role
    from user
    where email = #{email};
  </select>

  <select id="findById" resultMap="userResultMap">
    select id, email, password, phone_number, name, role
    from user
    where id = #{id};
  </select>

  <select id="findAll" resultMap="userResultMap">
    select id, email, password, phone_number, name, role
    from user
  </select>

</mapper>