<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.freshcart.infrastructure.UserMapper">
  <insert id = "save" keyProperty="id" useGeneratedKeys="true">
    insert into user (email, password, phone_number,  name, role)
    values (#{email},#{password},#{phoneNumber},#{name},#{role});
  </insert>

  <select id = "findEmailDuplicate" resultType = "User">
    select id, email, password, phone_number, name
    from user
    where email = #{email};
  </select>

  <select id = "findByUserEmail" resultType = "User">
    select id, email, password, phone_number, name, role
    from user
    where email = #{email};
  </select>

  <select id = "findAll" resultType = "User">
    select id, email, password, phone_number, name, role
    from user
  </select>
</mapper>